@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}





/* .header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo h1 {
  margin: 0;
}

.navbar__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__links li {
  margin-right: 20px;
}

.navbar__links li:last-child {
  margin-right: 0;
}

.navbar__links li a {
  text-decoration: none;
  color: #fff;
}

.navbar__profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
} */
.quran-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.quran-dropdown {
  margin-bottom: 20px;
  width: 300px;
}

.quran-card {
  max-width: 600px;
  padding: 20px;
  background-color: #fffefecc;

  border-radius: 8px;
  text-align: center;
}

nav.navbar {
  padding: 18px 0;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  background-color: #3f6b1631;
  display: flex;
  justify-content: space-between;
}

nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #080000 !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  float: inline-start;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
/* span.navbar-text {
    display: flex;
    align-items: center;
} */





.navbar-text button {
  font-weight: 700;
  color: #020000;
  border: 1px solid #000000;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
